<md-toolbar class="md-hue-2">
  <div class="md-toolbar-tools">
    <md-button aria-label="Show applications" class="md-icon-button" ng-click="$ctrl.toggleNav()">
      <md-icon md-svg-icon="md/menu.svg"></md-icon>
    </md-button>
    {{ $ctrl.title || 'Dashboard' }}
    <logo></logo>
    <span class="flex"></span>
    <a class="md-button md-default-theme" href="#/settings" hide-sm hide-xs>
      <span>{{ $ctrl.ministry.name || $ctrl.user.name || 'Welcome!' }}</span>
    </a>
    <img alt="{{ $ctrl.user.name }}" ng-src="{{ $ctrl.user.avatar || 'http://static.bethel.io/images/default_avatar_white.png' }}" />
    <md-menu md-position-mode="target-right target">
      <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open User Menu">
        <md-icon md-svg-icon="md/arrow_drop_down.svg"></md-icon>
      </md-button>
      <md-menu-content width="3">
        <md-menu-item ng-repeat="authMinistry in $ctrl.ministries">
          <md-button ng-href="session/ministry/{{ authMinistry.id }}">
            {{ $ctrl.ministry.name }}
          </md-button>
        </md-menu-item>
        <md-menu-divider ng-if="$ctrl.ministries.length"></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="$ctrl.userMenu('settings')">
            <div layout="row" flex>
              <p flex>Settings</p>
              <md-icon md-svg-icon="md/settings.svg" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
            </div>
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button ng-click="$ctrl.logout()">
            <div layout="row" flex>
              <p flex>Logout</p>
              <md-icon md-svg-icon="md/exit_to_app.svg" md-menu-align-target style="margin: auto 3px auto 0;"></md-icon>
            </div>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
