top-bar {
  min-height: 64px;
  @media (min-width: 0) and (max-width: $layout-breakpoint-sm - 1) and (orientation: portrait) {
    min-height: 56px;
  }
  @media (min-width: 0) and (max-width: $layout-breakpoint-sm - 1) and (orientation: landscape) {
    min-height: 48px;
  }
  md-toolbar {
    @media (min-width: 0) and (max-width: $layout-breakpoint-sm - 1) and (orientation: portrait) {
      color: transparent;
    }
  }
  .md-toolbar-tools {
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    padding: 0 24px;
    text-transform: uppercase;
    @media (min-width: 0) and (max-width: $layout-breakpoint-sm - 1) and (orientation: portrait) {
      color: transparent;
    }
    & >.md-button:first-child {
      margin-right: 32px;
    }
    & md-menu:last-child {
      margin-right: 0;
    }
    .md-button {
      font-size: 11px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      letter-spacing: 0.5px;
      text-transform: uppercase;
    }
  }
  logo {
    left: 50%;
    margin-left: -66px;
    position: absolute;
    top: 19px;
    @media (min-width: 0) and (max-width: $layout-breakpoint-sm - 1) and (orientation: portrait) {
      top: 15px;
    }
    @media (min-width: 0) and (max-width: $layout-breakpoint-sm - 1) and (orientation: landscape) {
      top: 11px;
    }
    svg {
      height: 26px;
    }
  }
  img {
    border-radius: 30px;
    height: 30px;
    margin-left: 20px;
  }
  md-menu {
    width: 24px;
    .md-button.md-icon-button {
      margin-left: 0;
      width: 24px;
    }
  }
}
