expansion-panel {
  background: #FFF;
  box-shadow: $whiteframe-shadow-1dp;
  display: block;
  font-size: 0.9375rem;
  margin-top: 0;
  margin-bottom: 0;
  max-height: 3rem;
  overflow: hidden;
  outline: none;
  padding: 0;
  position: relative;
  transition: margin 0.2s ease-in-out, transform 0.2s ease-in-out, max-height 0.5s ease-in-out;
  header {
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    line-height: 3rem;
    min-height: 3rem;
    opacity: 1;
    padding: 0 1.5rem;
    z-index: 2;
    div.title {
      color: rgba(0, 0, 0, 0.87);
      flex-grow: 1;
      padding-right: 1rem;
    }
    div.summary {
      color: rgba(0, 0, 0, 0.54);
      min-width: 12rem;
    }
    md-icon {
      color: rgba(0, 0, 0, 0.38);
      margin-left: 1rem;
    }
  }
  content {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-left: none;
    border-right: none;
    padding: 1rem 1.5rem;
    pointer-events: none;
  }
  footer {
    display: flex;
    height: 2.25rem;
    padding: 1rem 0.25rem;
    text-align: right;
    button.md-button {
      margin: 0 0.25rem;
    }
  }
}

expansion-panel.expanded {
  margin-bottom: 1rem;
  margin-top: 1rem;
  max-height: 1000px;
  transform: scale(1.01);
  md-icon {
    transform: rotate(180deg);
  }
  content {
    pointer-events: all;
  }
}

expansion-panel:first-of-type.expanded {
  margin-top: 0;
}

expansion-panel:last-of-type.expanded {
  margin-bottom: 0;
}
